<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	{# <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> #}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ title }} | {{metadata.company_info.company_name}}</title>
	<meta name="description" content="">
	<link href="/favicon.ico" rel="shortcut icon">
	<link href="/favicon.png" rel="apple-touch-icon-precomposed">

	{% if variables.environment == 'development' %}
		<link rel="stylesheet" type="text/css" href="/_includes/assets/libs/bootstrap/bootstrap.min.css">
		{# <link rel="stylesheet" type="text/css" href="/_includes/assets/libs/fontawesome/css/all.min.css"> #}
		{# <link rel="stylesheet" type="text/css" href="/_includes/assets/libs/jquery/fancybox/fancybox.min.css"> #}
		<link rel="stylesheet" type="text/css" href="/_includes/assets/libs/slick/slick.min.css">
		<link rel="stylesheet" type="text/css" href="/_includes/assets/css/custom.css">
	{% else %}
		{% set css %}
			{% include "assets/libs/bootstrap/bootstrap.min.css" %}
			{% include "assets/libs/slick/slick.min.css" %}
			{# {% include "assets/libs/fontawesome/css/all.min.css" %} #}
			{# {% include "assets/libs/jquery/fancybox/fancybox.min.css" %} #}
			{% include "assets/css/custom.css" %}
		{% endset %}
		<style>{{ css | cssmin | safe }}</style>
	{% endif %}
</head>
