<nav>
	<ul>
		<li>
			<a onclick="panelNavigation('close')" href="#top">Home</a>
		</li>
		<li>
			<a onclick="panelNavigation('close')" href="#past-meetings">Meeting Notices</a>
		</li>
		<li>
			<a onclick="panelNavigation('close')" href="#about-us">About Us</a>
		</li>
		<li>
			<a onclick="panelNavigation('close')" href="#contact-us">Contact Us</a>
		</li>
	</ul>
</nav>

